<div class = "beers-container">
    {{#each beers}}
        {{#with this}}
            <div class = "beer-info">
                <div class = "beer-img-container">
                    <img src = {{this.image_url}}>
                </div>
                {{>beerpartial}}
            </div>
        {{/with}}
    {{/each}}
</div>