<div class = "home-container">
    <img src="images/beer.png" alt="beer-logo">
    <a class = "home-button" href="/beers">
        <p>Check the beers!</p>
    </a>
    <a class = "home-button" href="/random-beer">
        <p>Check a Random Beer!</p>
    </a>
</div>